<div *ngIf="product">
    <h2>{{product.name}} details!</h2>
    <table>
      <tr>
        <td align='right'>Id:</td>
        <td align='left'><input [(ngModel)]="product.id" placeholder="Id" readonly></td>
      </tr>
      <tr>
        <td align='right'>Name:</td>
        <td align='left'><input [(ngModel)]="product.name" placeholder="Name" readonly></td>
      </tr>
      <tr>
        <td align='right'>Description:</td>
        <td align='left'><input [(ngModel)]="product.description" placeholder="Description" readonly></td>
      </tr>
      <tr>
        <td align='right'>Price:</td>
        <td align='left'><input [(ngModel)]="product.price" placeholder="Price" readonly></td>
      </tr>
      <tr>
        <td align='right'>Condition:</td>
        <td align='left'><input [(ngModel)]="product.condition" placeholder="Condition" readonly></td>
      </tr>
      <tr>
        <td align='right'>Category:</td>
        <td align='left'><input [(ngModel)]="product.category" placeholder="Category" readonly></td>
      </tr>
    </table>
    <button (click)="goBack()">Back</button>    
  </div>